body {
	background-color: lightblue;
}

.logo {
	width: 70px;
	height: 70px;
}

.nav {
	font-size: 27px; 
	font-family: 'Oswald', sans-serif;
	text-align: left;
}

.nav a {
	color: red;
	position: relative;
	bottom: 25px;
	text-decoration: none;
}

.img1 {
	width: 100px;
	height: 100px;
}

.experience p {
	font-size: 20px;
	margin-top: -20px;
}

.code_row {
	display: table;
}

.code_row h2 {
	margin-bottom: -10px;
	margin-top: -5px;
}

.code_text p {
	font-size: 20px;
	margin-top: 20px;
	position: relative;
	left: -30px;
}

.code_column {
	float: left;
}

.code_column img {
	width: 450px;
	height: auto;
	margin-left: -40px;
}

.photo_column {
	float: left;
}

.photo_row {
	display: table;
}

.photo_row h2 {
	margin-bottom: -10px;
}

.photo_row img {
	border: 5px solid black;
	width: 275px;
	height: auto;
	margin-left: -40px;
}

.photo_column figcaption {
	text-align: center;
	margin-left: -60px;
	font-size: 15px;
}

.photo_text p {
	font-size: 20px;
	margin-top: 25px;
	position: relative;
	left: -30px;
}

.skills h1 {
	margin-bottom: -15px;
}

.skills p {
	font-size: 20px;
}

.gaming_row {
	display: table;
}

.gaming_row h2 {
	margin-bottom: -10px;
}

.gaming_column {
	float: left;
}

.gaming_column img {
	width: 400px;
	height: auto;
	margin-left: -35px;
	position: relative;
	top: -25px;
}

.gaming_row h2 {
	position: relative;
	top: -25px;
}

.gaming_text p {
	position: relative;
	top: -25px;
	left: -30px;
	font-size: 20px;
}

.sport_row h2 {
	position: relative;
	top: -50px;
}

.sport_column {
	float: left;
}

.sport_column img {
	width: 50px;
	height: auto;
	margin-left: -35px;
	position: relative;
	top: -50px;
}

.sport_text p {
	font-size: 20px;
	position: relative;
	top: -75px;
	left: -20px;
}