body {
	background-color: lightblue;
}

.logo {
	width: 70px;
	height: 70px;
}

.nav {
	font-size: 27px; 
	font-family: 'Oswald', sans-serif;
	text-align: left;
}

.nav a {
	color: red;
	position: relative;
	bottom: 25px;
	text-decoration: none;
}


.img1 {
	width: 100px;
	height: 100px;
}

.experience p {
	font-size: 20px;
	margin-top: -20px;
}

.code_row {
	display: table;
}

.code_row h2 {
	margin-bottom: 0px;
}

.code_row p {
	font-size: 20px;
	margin-top: 30px;
}

.code_column {
	float: left;
}

.code_column img {
	width: 450px;
	height: auto;
	margin-top: 0px;
}

.code_column figcaption {
	text-align: center;
}

.photo_column {
	float: left;
}

.photo_row {
	display: table;
}

.photo_row h2 {
	margin-bottom: 0px;
}

.photo_row img {
	border: 5px solid black;
	width: 275px;
	height: auto;
}

.photo_column figcaption {
	text-align: center;
}

.photo_text p {
	font-size: 20px;
	margin-top: 25px;
}


.gaming img {
	width: 400px;
	height: auto;
}
