/* This is the comment tag for CSS comments */
body {
	background-color: lightblue;
}

.logo {
	width: 70px;
	height: 70px;
}

.nav {
	font-size: 27px; 
	font-family: 'Oswald', sans-serif;
	text-align: left;
}

.nav a {
	color: red;
	position: relative;
	bottom: 25px;
	text-decoration: none;
}

.img1 {
	width: 100px;
	height: 100px;
}

/* Start of About me page*/
.about_me p {
	font-size: 20px;
	margin-top: -20px;
}

.waterloo_row h2 {
	margin-bottom: -10px;
	margin-top: -5px;
}

.waterloo_column {
	float: left;
}

.waterloo_column img {
	width: 400px;
	height: auto;
	margin-left: -40px
}

.waterloo_text p {
	font-size: 20px;
	margin-top: 20px;
	position: relative;
	left: -30px;
}
/* End of About Me page CSS */

/* Start of Experiences page */
.experience p {
	font-size: 20px;
	margin-top: -20px;
}

.code_row {
	display: table;
}

.code_row h2 {
	margin-bottom: -10px;
	margin-top: -5px;
}

.code_text p {
	font-size: 20px;
	margin-top: 20px;
	position: relative;
	left: -30px;
}

.code_column {
	float: left;
}

.code_column img {
	width: 450px;
	height: auto;
	margin-left: -40px;
}

.photo_column {
	float: left;
}

.photo_row {
	display: table;
}

.photo_row h2 {
	margin-bottom: -10px;
	margin-top: -5px;
}

.photo_row img {
	border: 5px solid black;
	width: 275px;
	height: auto;
	margin-left: -40px;
}

.photo_column figcaption {
	text-align: center;
	margin-left: -60px;
	font-size: 15px;
}

.photo_text p {
	font-size: 20px;
	margin-top: 25px;
	position: relative;
	left: -30px;
}
/* End of Experiences page CSS */

/* Start of Skills page code */
.skills h1 {
	margin-bottom: -15px;
}

.skills p {
	font-size: 20px;
}

.gaming_row {
	display: table;
}

.gaming_row h2 {
	margin-bottom: -10px;
}

.gaming_column {
	float: left;
}

.gaming_column img {
	width: 400px;
	height: auto;
	margin-left: -35px;
	position: relative;
	top: -25px;
}

.gaming_row h2 {
	position: relative;
	top: -25px;
}

.gaming_text p {
	position: relative;
	top: -25px;
	left: -30px;
	font-size: 20px;
}

.hobby_row h2 {
	position: relative;
	top: -50px;
}

.hobby_column {
	float: left;
}

.hobby_column img {
	width: 200px;
	height: auto;
	margin-left: -35px;
	position: relative;
	top: -70px;
}

.hobby_text p {
	font-size: 20px;
	position: relative;
	top: -75px;
	left: -20px;
}
/* End of Skills page CSS code */

/* Start of Assignments code */
.buttons button {
	height: 35px;
	width: auto;
	font-size: 25px;
	color: red;
	margin-bottom: 10px;
	background-color: lightblue;
}

#time {
	font-size: 25px;
	margin-bottom: -10px;
	margin-top: 0px;
	color: red;
}

.button3row {
	display: table;
}

.button3column {
	float: right;
}

#button3 {
	margin-bottom: -20px;
}

#toggle {
	font-size: 25px;
	color: red;
	position: relative;
	bottom: -5px;
	left: 10px;
}

/* End of Assignments code CSS */
